{
"OmbiDatabase": {
    "Type": "MySQL",
    "ConnectionString": "Server={{ ombi_mariadb_basics_name }};Port={{ ombi_mariadb_ports_cont }};Database={{ ombi_mariadb_database }};User={{ ombi_mariadb_auth_ombi_db_user }};Password={{ ombi_mariadb_auth_ombi_db_password }}"
},
"SettingsDatabase": {
    "Type": "MySQL",
    "ConnectionString": "Server={{ ombi_mariadb_basics_name }};Port={{ ombi_mariadb_ports_cont }};Database={{ ombi_mariadb_database }};User={{ ombi_mariadb_auth_ombi_db_user }};Password={{ ombi_mariadb_auth_ombi_db_password }}"
},
"ExternalDatabase": {
    "Type": "MySQL",
    "ConnectionString": "Server={{ ombi_mariadb_basics_name }};Port={{ ombi_mariadb_ports_cont }};Database={{ ombi_mariadb_database }};User={{ ombi_mariadb_auth_ombi_db_user }};Password={{ ombi_mariadb_auth_ombi_db_password }}"
}
}